/*실제 적용 코드*/
.CoinContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: #002c0d; 
}

.imageStyle {
  width: 60%;
  height: auto;
}

@media (max-width: 768px) {
  .mainContainer {
    align-items: flex-start;
  }

  .imageStyle {
    width: 100%;
    height: auto;
  }
}