.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*실제 적용 코드*/

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: #153684; 
}

.imageStyle {
  width: 60%;
  height: auto;
}

@media (max-width: 768px) {
  .mainContainer {
    align-items: flex-start;
  }

  .imageStyle {
    width: 100%;
    height: auto;
  }
}